form {
    
     text-align: center;
    font-size: xx-large;
    width: px;
    
}
body {
background-color: rgba(138,16,255,0.45);
}
.container {
    text-align: center;
    margin-bottom: 50px;
    line-height: 50px;
    padding: 50px;
    
}
.bg {
    text-align: center;
    font-size: xx-large;
    

}
button{
width: 100px;
margin: auto;
    
padding: 0%;
    
}
.button {
    display: flex;
    margin: auto;
    font-size: medium;
    width: 250px;
    
}