body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    background-image: url(./WhatsApp\ Image\ 2024-03-29\ at\ Netflix\ .jpg);
}
h1{
    text-align: left;
    color: #cc0000;
    font-style: italic;
    
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-box{
    width: 300px;
    padding: 40px;
    background-color:  black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.sign-box h2{
    margin
    text-align: center;
    color: white;
    
}
.sign-box input[type="email"],
.sign-box input[type="password"]{
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
}
.sign-box input[type="submit"]{
    width: 100%;
    padding: 15px;
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.sign-box input[type="submit"]:hover{
    background-color: #cc0000;
}
}
.sign-box p{
    text-align: center;
    color: #fff;
}
.sign-box label{
    color: #ccc;
}
.sign-box h3{
    color: #ccc;
}


.sign-box h5{
    color: #ccc;
}