h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
form{
    max-width: 400px;
    margin: 0 auto;
    background-color: aqua;
    border-radius: 0%;
}
div{
    margin-bottom: 5px;
.container{
    max-width: 20px;
}
button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    
    button[type="reset"] {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}



    

