body
{
    background-color: aliceblue;
    margin: 20px;
    padding: 0;
    
}
table
{
    background-color: aqua;

    margin: auto;
    
    
    
}
h1
{
    
    text-align: center;
    font-weight: 100;
    border: 2 px solid;
    text-decoration: double;
    
}
